:root{
    --primary-background-color: #ffffff;
    --secondary-background-color:#F5F4FA;
    --tertiary-background-color: #2F303A;
    --accent-color: #2196f3;
    --primary-color-text: #212121;
    --secondary-color-text: #757575;
    --tertiary-color-text: #ffffff;
    --font-size-normal: 14px;

}

body{
    background: var(--primary-background-color);
    color:var(--primary-color-text);
    font-size:var(--font-size-normal);
    font-family: 'Roboto', sans-serif;
    
}
/* прибирає  точки номерації */
.list{
    list-style: none;
}
/* прибирає підкреслення */
.link{
    text-decoration: none;
}
/* прибираю непотрібні заголовки */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


/* logo */

.logo{
        width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
    
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        /* text-decoration: none; */
        letter-spacing: 0.03em;
        color:var(--accent-color);

        
}
.logo-header{
    color:#000000;
}


/* nav */



.nav-link{
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-color-text);
    }
    .nav-link:hover,
    .nav-link:focus,
    .current{
    color: var(--accent-color);
}

/* contact */
.mail{
    
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
        color: var(--secondary-color-text) ;
}


.contact .mail:hover,
.contact .mail:focus {
    color: var(--accent-color);
}


/* HERO */
.hero{
        /* width: 1600px;  */
        /* height: 600px;  */
        left: 0px;
        top: 80px;
    
        background: var(--tertiary-background-color);
}
.hero-title{
        
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        
    
        text-align: center; 
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: var(--primary-background-color)
}

/* button here */
.button{
            font-family: inherit;
            width:216px; 
            height: 50px;
            left: 692px;
            top: 430px;
            cursor: pointer;
            background-color:var(--accent-color);
            border-radius: 4px;
            color:var(--primary-background-color);
}
.button:hover,
 .button:focus{ 
    background-color:#188CE8;
        
        
}
/* about*/
.about-title{
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        
}
.about-title-description{
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--secondary-color-text);
        
}

/* чим займаються */
 .section-title{
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;

 }
/* team */
.team-name{
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
    
        

}
.team-position{
        font-size: 16px;
        line-height: 1.19;
         text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--secondary-color-text);

}
/* footer */
.Footer{
        
        width: 1600px;
        height: 252px;
        left: 0px;
        top: 2094px;
        text-decoration: none;
        background: var(--tertiary-background-color);
}

.logo-footer{
    color: var(--tertiary-color-text)
}

.footer-nav{
        font-style: normal;
        line-height: 1.71;
        letter-spacing: 0.03em;
    
        color:var(--primary-background-color);
}
.footer-contact {
    font-style: normal; 
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-contact:hover,
.footer-contact:focus{
    color:var(--accent-color);
}
/*------------ портфоліо -----------------------------*/
.filter-btn{
        background: #F5F4FA; 
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        letter-spacing: 0.03em;
        border-radius: 4px;
        border-color: transparent;
        cursor: pointer;
    
        color: var(--primary-color-text);
    }

.filter-btn:hover,
.filter-btn:focus{
    background:var(--accent-color);
    color: var(--tertiary-color-text);
}
.filter-btn.activ{
    background:var(--accent-color);
    color:var(--primary-background-color)
}
/*картки */
.filter-title{
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;


}
.filter-info{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    
     color:var(--secondary-color-text);

}